@font-face {
	font-family: 'FonteCopa';
	src:url(fonte/dusha-v5-regular.ttf);
}

body {
	background-image: url('Background/background.jpg');
	background-attachment: fixed;
	background-size:cover;
	background-position:50% 50%;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}

#menu li{
	display: inline-block; /* um ao lado do outro */
	background-color: #000000; /* cor do fundo */
	padding: 10px; /* espaçamento interno */
	margin: 2px; /* espaçamento externo */
	list-style: none;
	bottom: 20px;
	color: #FF0000;
	font-family: 'FonteCopa';
}

#menu a {
	color: #000; /* cor do texto do link */
	text-decoration: none; /* tira o sublinhado do link */
}

#menu li:hover {
	background-color: #606060; /* cor do fundo */
	transition: background 1s;/* a mudança de background vai demorar 1s */
	color: #FF0000;
}

#cabecalho {
	border-bottom: 1px #606060 solid;
	height: 150px;
}

#menu {
	list-style: none; /* tira as marcações da lista */
	text-transform: uppercase; /* texto em caixa alta */
	float: right; /* flutua a direita */
	padding: 0px; /* espaçamento interno */
	margin: 0px; /* espaçamento externo */
	top: -25px; /* aproximação com o topo */
}

iframe#frame {
	width: 600px;
	height: 300px;
	border: none;
	overflow: hidden;
}
iframe#frame::-webkit-scrollbar {
	display: none;
}

#imgestadios {
	width: 60%;
	
}
#corpo {
	display: flex;
}

#imgestadios img {
	width: 80%;
	height: auto;
}
#lixo {
	opacity: 0;
}